@import "./colors";

.catagory-wrap {
  display: flex;
  flex-wrap: wrap;
}

.catagory {
  flex: 1 250px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-wrap {
    width: 230px;
    text-align: center;
    position: relative;
    cursor: pointer;

    img {
      width: 100%;
      border-radius: 10px;
        transition: .3s;
      &:hover {
        filter: brightness(0.3);
      }
    }
    h3 {
      position: absolute;

      color: white;
      letter-spacing: 1px;
      left: 0;
      right: 0;
      bottom: 40px;
      margin: auto;
    }
  }
}
