$light-text: #949494;
$light-grey: #dbdbdb;
$text: #303A53;
$blackLinear: linear-gradient(to right, rgb(28, 33, 46), #303A53);
$disabled: #dfdfdf;



//light theme
$purple: #554fd8;
$pink: #9e93d3;
$purpleLinear: linear-gradient(to right, #302aa5, #554fd8);
$background: linear-gradient(#ffffff, #ebebeb);
$player-background: #fbfbfb;


$a:#ac8be9;
$b:#6e50bf;
$c:#382b64;
$d:#3d3372;
$e:#554fd8;
$f:#7d50e7;