@import "./colors";

$width: 100vw;

.create-playlist-modal {
  width: $width;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

  .modal {
    
    
    background: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .close {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .wrap {
    display: flex;
    width: 100%;
    height: 70%;
  }

  .btn {
    width: 130px;
    height: 40px;
    background: $purple;
    color: white;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 20px;
  }

  .upload-image {
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    border-radius: 15px;
    flex-direction: column;
    cursor: pointer;

    h3 {
      text-transform: uppercase;
    }
  }
  .input-wrap {
 
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    .label {
      font-size: 16px;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-weight: 400;
      color: $light-text;
      padding-bottom: 15px;
    }

    .search-wrap {
      border-radius: 0;
      padding: 10px 5px;
      margin-bottom: 20px;
      border-radius: 5px;

      input {
        letter-spacing: 1px;
      }
    }

    .description-box {
     height: 150px;
     

      textarea {
        width: 100%;
        height: 100%;
        border: solid 1px #dadada;
        border-radius: 5px;
        outline: none;
        padding: 10px 20px;
        resize: none;
       
        font-weight: 400;
        color: $light-text;
        letter-spacing: 1px;

        &::placeholder {
          color: #cecece;
        }
      }
    }
  }
}



.public-switch {
  display: flex;
  padding: 0 70px;
  width: 100%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
  p {
    color: $light-text;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: center;
  }
}