@import "./colors";

.explore {
  height: 100%;

  .bottom-wrap {
    width: 100%;
    display: flex;
    padding: 0px 50px;

    // h1 {
    //   text-transform: capitalize;
    //   letter-spacing: 1px;
    //   padding: 5px 0 20px 0;
    // }
  }

  .featuredPlaylists {
    flex: 4 1;
  }
  .catagories {
    flex: 6 1;
   
  }
}

