@import "./colors";

.gen-title {
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 50px;
}
.basic {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;

  h1,
  p {
    font-size: 18px;
    font-weight: 100;
    color: $light-text;
  }

 
}

.save-playlist {
  display: flex;
  height: 50px;
  padding: 0 20px;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  background: rgb(243, 243, 243);
  p {
    padding-right: 10px;
  }
}
.number-wrap {
  display: flex;
  width: 400px;
  height: 100px;
  align-items: center;
  justify-content: space-between;

  input {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: solid 1px rgb(180, 180, 180);
    padding: 0 5px;
  }
}
.advanced {
  min-height: 50px;
  background: white;
  margin-top: 100px;
  border-radius: 15px;

  h1 {
    font-size: 18px;
    font-weight: 100;
    color: $light-text;
    text-transform: capitalize;
  }

  .top {
    display: flex;
    height: 50px;
    padding: 0 50px;
    justify-content: space-between;
    align-items: center;
  }

  .show {
    cursor: pointer;
    display: flex;
    width: 100px;
    justify-content: flex-end;
    align-items: center;

    h2 {
      padding-right: 5px;
      font-size: 18px;
      font-weight: 500;
      color: $light-text;
      text-transform: capitalize;
    }
  }
}

.generator-form {
  min-height: 500px;
  margin-top: 50px;
  padding: 0 50px 50px 50px;
}

.genres {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.genre {
  padding: 5px 10px;
  margin: 5px;
  border: solid 1px #b4b4b4;
  border-radius: 50px;
  color: #b4b4b4;
  cursor: pointer;
  text-transform: capitalize;
}

.choose-genre {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sliders {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.attribute {
  width: 300px;
  margin: 50px;
  position: relative;
  p {
    font-size: 18px;
    font-weight: 100;
    color: $light-text;
    text-transform: capitalize;
  }

  .switch-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }

  .info {
    position: absolute;
    left: 0;
    bottom: 70px;
    width: 100%;
    min-height: 70px;
    border-radius: 8px;
    border: solid 1px rgb(202, 202, 202);
    background: white;
    padding: 20px;

    p {
      font-size: 14px;
      color: rgb(97, 97, 97);
      letter-spacing: 0;
      line-height: 16px;
    }
  }
}
