

.start-screen {
    width: 100%;
    height: 100%;
    z-index: 100;
    background: #eee;
    
    position: absolute;
    overflow: hidden;

    .background {
        background: $purpleLinear;
        width: 100%;
        height: 50vh;
        position: absolute;
        z-index: -1;
    }
     .top {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .wrap {
      text-align: center;
      text-transform: capitalize;
      margin: auto;
       
      .down-arrow {
        font-size: 30px;
        margin: 20px 0;
        color: $light-grey;
      }
  
      h1 {
        text-transform: capitalize;
        font-size: 40px;
      }
      h3 {
        color: $light-grey;
      }
    }
}

.features {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 200px;
 
  .wrap {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }

  .feature {
    width: 400px;
    height: 165px;
    margin: 10px;
    flex-shrink: 0;
    border-radius: 5px;
    background: white;
  }
}