@import "./colors";

.full-track {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  height: 75px;
  border-radius: 15px;
  background: white;
  overflow: "hidden";
  //  box-shadow: 0px 15px 10px -12px #99acdb80;
  padding: 0 30px 0 10px;
  transition: 1s ease-in-out;

  .left {
    min-width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 7px;
      margin: 0 10px;
    }

    .play-icon-wrap {
      height: 100%;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text-wrap {
      padding-left: 10px;
      text-transform: capitalize;
      h3 {
        font-weight: bold;
        letter-spacing: 1px;
      }

      p {
        color: $light-text;
      }
    }
  }

  .right {
    max-width: 200px;
    height: 100%;
    display: flex;

    align-items: center;

    p {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .lottie-wrap {
    height: 90px;
    width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.more-menu {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  cursor:pointer;
}
.more-icon {
  font-size: 25px;
  cursor: pointer;
}
