

.full-track {
  width: 100%;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;
  height: 75px;
  border-radius: 15px;
  background: white;
  overflow: "hidden";

  padding: 0 30px 0 10px;
  transition: 1s ease-in-out;

  .left {
    min-width: 400px;
    
    height: 100%;
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      border-radius: 7px;
      margin: 0 10px;
    }

    .play-icon-wrap {
      height: 100%;
      width: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text-wrap {
      padding-left: 10px;
      text-transform: capitalize;
      h3 {
        font-weight: bold;
        letter-spacing: 1px;
      }

      p {
        color: $light-text;
      }
    }
  }

  .right {
    min-width: 200px;
    height: 100%;
    display: flex;
    // position: relative;
    align-items: center;
   justify-content: flex-end;
    .container {
      max-width: 200px;
      display: flex;
      align-items: center;
      height: 100%;
    }
    p {
      font-size: 15px;
      font-weight: bold;
    }
  }

  .sample-search {
    padding: 5px 10px;
    border-radius: 50px;
    // border: solid $purple 1px;
    color: rgb(95, 73, 119);
    cursor: pointer;
    margin: 0 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width: 160px;
    position: relative;
  }

  .lottie-wrap {
    height: 90px;
    min-width: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .delete {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
  }

  .generator-wrap {
    height: 100%;
    padding: 0 30px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}


.more-menu {
  height: 100%;
  
  display: flex;
  align-items: center;
  // cursor:pointer;
}
.more-icon {
  font-size: 25px;
  cursor: pointer;
}
