@import "./styles/colors";
@import "./styles/nav";
@import "./styles/player";
@import "./styles/home";
@import "./styles/loading";
@import "./styles/track";
@import "./styles/createPlaylistModal";
@import "./styles/explore";
@import "./styles/search";
@import "./styles/playlist";
@import "./styles/category";
@import "./styles/trackScroller";
@import "./styles/tracksPage";
@import "./styles/details";
@import "./styles/album";

@import "./styles/playlistBrowser";
@import "./styles/menu";
@import "./styles/trackFull";
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');





* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Baloo Da 2', cursive;
  font-size: 14px;
}
.App {
  font-family: 'Baloo Da 2', cursive;
  color: $text;
  overflow: hidden;
}

.wrap  {
  padding: 0 50px;
}
.section-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-bottom: 95px;
  background: $background;
}

.nav-section {
  flex: 1 3;
  border-right: solid 2px rgb(236, 236, 236);
}



.pages-section {
  flex: 6 4;
  overflow-y: auto;
}
.player-section {
  background: white;
  box-shadow: 0px -13px 30px -20px rgba(204, 204, 204, 1);
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.title {
  font-size: calc(13px + .4vw);
  text-transform: capitalize;
  letter-spacing: 1px;
  padding: 30px 0;
    
}

.title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}

.track-list-more {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-transform: uppercase;

  .cloud {
    font-size: 30px;
    color: $light-text;
  }
}



::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}