@import "./styles/nav";
@import "./styles/colors";
@import "./styles/player";
@import "./styles/home";
@import "./styles/loading";
@import "./styles/track";
@import "./styles/trackFull";
@import "./styles/explore";
@import "./styles/search";
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');





* {
  box-sizing: border-box;
  margin: 0;
}
.App {
 
  font-family: 'Baloo Da 2', cursive;
  color: $text;
  overflow: hidden;
 
}
.section-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-bottom: 95px;
  background: $background;
}

.nav-section {
  flex: .3 3 250px;
  border-right: solid 2px rgb(236, 236, 236);
}
.pages-section {
  flex: 7 4;
  overflow-y: auto;
}
.player-section {
  background: white;
  box-shadow: 0px -13px 30px -20px rgba(204, 204, 204, 1);
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
}


.title-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  h1 {
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 0 20px 0;
  }
}

// .load-more {
//   width: 200px;
//   height: 200px;
//   margin: 10px 20px;
//   border: solid 1px rgb(207, 207, 207);
//   border-radius: 15px;
//   display:flex;
//   justify-content: center;
//   align-items: center;
//   cursor: pointer;
  
// }

// .load-more {
//   width: 200px;
//   height: 300px;
//   margin: 10px 20px;
//   .icon-wrap {
//     width: 200px;
//     height: 200px;
//     border-radius: 15px;
//     // img {
//     //   width: 100%;
//     //   border-radius: 15px;
//     //   box-shadow: 0px 15px 20px -12px #4d5a7a;
//     //   cursor: pointer;
//     //   transition: .3s ease;
//     //   &:hover {
//     //       transform: scale(1.1);
//     //       box-shadow: 0px 15px 30px -8px #303c5a;

//     //   }
//     // }
    
//   }
//   p {
//     text-align: center;
//     padding-top: 20px;
//     color: #a3a3a3;
//     font-weight: 300;
//     letter-spacing: 1px;
//   }
// }


::-webkit-scrollbar {
  width: 12px;
  height: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}