@import "./styles/nav";
@import "./styles/colors";
@import "./styles/player";
@import "./styles/home";
@import "./styles/loading";
@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2&display=swap');





* {
  box-sizing: border-box;
  margin: 0;
}
.App {
 
  font-family: 'Baloo Da 2', cursive;
  color: $text;
}
.section-container {
  display: flex;
  width: 100%;
  height: 100vh;
  padding-bottom: 95px;
  background: $background;
}
.nav-section {
  flex: .3 3 250px;
  border-right: solid 2px rgb(236, 236, 236);
}
.pages-section {
  flex: 7 4;
}
.player-section {
  background: white;
  box-shadow: 0px -13px 30px -20px rgba(204, 204, 204, 1);
  height: 95px;
  width: 100%;
  position: absolute;
  bottom: 0;
  
}
